html {
  background-color: #F0F0F1;
  font-family: 'Montserrat', sans-serif;
  scroll-padding-top: 40px;
}
body {
  margin: 0px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
aside {
  border-radius: 8px;
  border-style: solid;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid #c6ff00;
  text-align: center;
  margin-bottom: 20px;
}
h1 {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
.menu {
  margin: 0px;
  position: fixed;
  top: 0px;
  width: 100%
}
ul.barra {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
ul.barra li {
  float: left;
}
ul.barra li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.barra li a:hover {
  background-color: #111;
}
/* Barra Lateral */
aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
aside ul li a {
  text-decoration: none;
}
.cont {
  border-radius: 8px;
  border-style: solid;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
.box-1 {
  border-radius: 8px;
  background: linear-gradient(0deg, rgba(240,240,241,1) 25%, rgba(215,255,75,0.80) 100%);
  margin-bottom: 40px;
}
.box-2 {
  border-radius: 8px;
  background: linear-gradient(0deg, rgba(240,240,241,1) 25%, rgba(198,255,0,0.80) 100%);
  margin-bottom: 40px;
}
.button {
  border-radius: 5px;
  text-decoration: none;
  color: black;
  background-color: #c6ff00;
  padding: 0.375em 0.5em 0.1875em;
  border: 2px solid;
  box-shadow: 4px 4px 0 black;
  margin-right: 4px;
}
.button:hover {
  box-shadow: 2px 2px 0 black;
}
/* Estructura tipo blog */
@media screen and (min-width: 980px) {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .col-25 {
    flex: 2.5;
  }
  .col-75 {
    flex: 7.5;
  }
}
/* Para moviles */
@media screen and (max-width: 480px) {
  table {
    display: block;
    overflow-x: auto;
  }
}
